@import "tailwindcss";

@layer base {
  html,
  body {
    @apply max-w-[100vw] overflow-x-hidden;
  }

  body {
    @apply bg-white text-black antialiased;
    font-family: Arial, Helvetica, sans-serif;
  }
}
